

.cads{
   text-align: center;
   color: #ffffff;
  font-style: roboto;
  font-size: x-large;
  left:25%;
  right:25%;
  top: 15%;
}
.cadastro{
    margin-bottom: 5px;
    height: auto;
    width: auto;
    padding-top: 5px;

  }

  .fundo{
    
  background-image: url('../assets/pfcadastro.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   text-align: center;
  text-transform: none;
}


 




label{
  color: #ffffff;
 
}

.botao{
 position: relative;
 padding: 15px;
  margin-top: 30px;

}
