.fundoperfil{
    background: #151415;
    text-align: center;
    text-transform: none;
}
.paragrafo1{
    color:#fff;
    text-align: center;

}
.paragrafo2{
    color:#fff;
    text-align: center;
}
.address{
   color:#fff;
    text-align: center; 
}
.yelow{
    color:  #f8b133;
    text-align: center;
}
.text-input{
    color: #000 !important;
  }
  input:-moz-placeholder{
    color:#fff!important;
   }
  input:-moz-placeholder{
       color: #fff!important;
     }
  *:-webkit-input-placeholder{
         color: #fff!important;
     }
  *:-ms-input-placeholder{
       color: #fff!important;
     }
  *:-moz-placeholder{
    color: #fff!important;
  }
.botaoperfil{
   top:7%;
  margin-top:7%;
  text-transform: none;
  


}
.lista{
   margin-top: 15%;
}
.iconperfil{
    left: 2%;
    font-size: 10%;

}
