.lugarperfil{
     background: #151415;
    text-align: center;
    text-transform: none;
}
.nameh{
    color:#fff;
    text-align: center;


}
.categoriah{
     color:#fff;
    text-align: center;
}
.phoneh{
    color:#fff;
    text-align: center;
}
 
.botaolugar{
   top:7%;
  margin-top:7%;
  text-transform: none;

}
.lista{
   margin-top: 15%;
}
.paragrafolugar{
    color: #f8b133;
}
