.pais{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 30px;
}
.estado{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.cidade{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.categoriaf{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.filtrar{
  background-image: url('../assets/pfcadastro.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   text-align: center;
  text-transform: none;
}
.categoriasl{
  padding-top:20%;
}
