.sobreimg{
    background-image: url('../assets/sobreimg.png')  ;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height:    100%;
    width:  100%;
    background-size: 100% 100%;
    
   
}
.logosobre{
    margin-top:10px;
  margin-left: 25%;
  margin-right: 35%;
  background: url('../assets/logohorizontal.png');
  width: 200px;
  height: 32px;
}