.namem{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 20%;
}

.categoriam{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.endereco{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}

.phone{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.conteudo{
 background-image: url('../assets/pfcadastro.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   text-align: center;
  text-transform: none;
}
