.funil{
  font-size: 10px;
}
.informacao{
  left: 70%;

}
.colormed{
  background-color: #151415;
}

.item-md ion-avatar, .item-ios ion-avatar {
  height: 100px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
    border-radius: 0!important;
  }
}



.informacao{
  background-color: transparent;
  border: none;
}
.corcard{
  background-color: #363536;
  height: 100%;

  
}
.title{
  color: #fff;
 
  
}