.filtram{
   background-image: url('../assets/pfcadastro.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   text-align: center;
  text-transform: none;

}
.paism{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 30px;
}
.estadom{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.cidadem{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.categorias{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;  
}
.categoriasm{
  padding-top:20%;
}
