.conteudol{
  background-image: url('../assets/pfcadastro.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   text-align: center;
  text-transform: none;
}
.namel{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 20%;

}
.categorial{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.enderecol{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.phonel{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
